<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  
  <display-name>NCD jsp servlet jdbc</display-name>
  
  <servlet>
      <servlet-name>RegistrationServlet</servlet-name>
      <servlet-class>com.ankita.ncd.controller.RegistrationServlet</servlet-class>
   </servlet>
   <servlet-mapping>
      <servlet-name>RegistrationServlet</servlet-name>
      <url-pattern>/Registration</url-pattern>
   </servlet-mapping>
  
   
   <servlet>
      <servlet-name>ResultServlet</servlet-name>
      <servlet-class>com.ankita.ncd.controller.ResultServlet</servlet-class>
   </servlet>
   <servlet-mapping>
      <servlet-name>ResultServlet</servlet-name>
      <url-pattern>/Result</url-pattern>
   </servlet-mapping>
  
  
  
  
  
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file> 
  </welcome-file-list>
</web-app>